<html lang="en" dir="ltr">
  <head>
    <title>Gotho of Planet Percal #25</title>
  </head>
<body>
  {% extends "layout.html" %}

  {% block content %}

  <h1> {{ room.name }} </h1>

  <pre>
    {{ room.description }}
    {% if room.name == "Laser Weapon Armory" %}
      Number of tries: {{ room.timer }}

    {% endif %}

  </pre>

  {% if room.name in ["death", "The End"] %}
    <p><a href="/">Play Again</a></p>
  {% elif room.name != "Escape Pod" and room.name != "Laser Weapon Armory" %}
      You have the following choices:
      {% for key in room.paths.keys() %}
        <p>
        <form action="/game" method="POST">
          <input type="submit" name="action" value={{key}}>
        </form>
        </p>
      {% endfor %}
  {% else %}
    <p>
    <form action="/game" method="POST">
      - <input type="text" name="action"><input type="submit" value="Submit">
    </form>
    </p>
  {% endif %}

  {% endblock %}
</body>
